<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/capture.css">
  <script src="../static/js/capture.js"></script>
  <title>Capture</title>
  
</head>
<body>
  <header>
    <a href="/StreamTube/" class="icon">StreamTube</a>
    <div class="header_links">
      <a href="/StreamTube/templates/multiplayer.html" class="header_link">マルチ視聴</a>
      <a href="/StreamTube/templates/clipplayer.html" class="header_link">クリップ視聴</a>
      <a href="/StreamTube/templates/capture.html" class="header_link" target="_blank">キャプチャ機能</a>
      <a href="/StreamTube/templates/captures.html" class="header_link" target="_blank">連続キャプチャ機能</a>
      <a href="/StreamTube/templates/waybackmachine.html" class="header_link">Wayback検索</a>
      <a href="https://github.com/portfoliokns/StreamTube" class="header_link">About</a>
    </div>
  </header>

  <div class="main">
    <div class="capture_block">
      <div class="player_title">
        キャプチャ
      </div>
      <div class="buttons">
        <a href="#" id="capture_button" class="button">撮影</a>
        <a href="#" id="download_button" class="button">ダウンロード</a>
      </div>
      <canvas id="canvas"></canvas>
      <div class="capture_image">
        <img id="screenshot" class="screenshot" alt="「撮影」ボタンからキャプチャしたい画面を共有すると、ここにサンプルとして表示されます。表示されたサンプル画像は実際の画像より小さく表示されます。"/>
      </div>
    </div>
    
  </div>

  <footer>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">YouTube</a>
  </footer>
</body>
</html>