<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/clipplayer.css">
  <script src="../static/js/clipplayer.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <title>StreamTube</title>
  
</head>
<body>
  <header>
    <a href="/StreamTube/templates/multiplayer.html" class="icon">StreamTube</a>
  </header>

  <div class="main">
    <div class="clipplayer_block">
      <div class="player_title">
        クリッププレーヤー
      </div>
      <div id="clipplayer"></div>
      <div>
        <input type="text" id="clipplayer_url" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
        <input type="text" id="clipplayer_starttime" class="player_time" placeholder="hh:mm:ss:ms" value="00:00:00:00">
        <input type="text" id="clipplayer_endtime" class="player_time" placeholder="hh:mm:ss:ms" value="00:00:03:00">
        <input type="number" id="clipplayer_height" class="player_form" placeholder="高さ" value="671">
        <input type="number" id="clipplayer_width" class="player_form" placeholder="横幅" value="1192">
        <a href="#" id="clipplayer_startbutton" class="button">再生</a>
        <a href="#" id="clipplayer_resetbutton" class="button">リセット</a>
      </div>
    </div>
  </div>

  <footer>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">YouTube</a>
  </footer>
</body>
</html>