<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/multiplayer.css">
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="../static/js/share.js"></script>
  <script src="../static/js/multiplayer.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <title>StreetTube</title>
  
</head>
<body>
  <header>
    <a href="/StreetTube/" class="icon">StreetTube</a>
    <div class="header_links">
      <a href="/StreetTube/templates/multiplayer.html" class="header_link">マルチ視聴</a>
      <a href="/StreetTube/templates/clipplayer.html" class="header_link">クリップ視聴</a>
      <a href="/StreetTube/templates/capture.html" class="header_link" target="_blank">キャプチャ機能</a>
      <a href="/StreetTube/templates/captures.html" class="header_link" target="_blank">連続キャプチャ機能</a>
      <a href="/StreetTube/templates/waybackmachine.html" class="header_link">Wayback検索</a>
      <a href="https://github.com/portfoliokns/StreetTube" class="header_link">About</a>
    </div>
  </header>

  <div class="main">
    <div class="multiplayer_blocks">
      <div class="multiplayers">
        <div class="multiplayer_block">
          <div class="multiplayer">
            <div id="multiplayer0"></div>
          </div>
          <div class="multiplayer">
            <div id="multiplayer1"></div>
          </div>
        </div>
        
        <div class="multiplayer_block">
          <div class="multiplayer">
            <div id="multiplayer2"></div>
          </div>
          <div class="multiplayer">
            <div id="multiplayer3"></div>
          </div>
        </div>
      </div>
      <div class="player_controller">
        <form action="#">
          <input type="text" id="multiplayertext0" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
          <input type="text" id="multiplayertext1" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
          <input type="text" id="multiplayertext2" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
          <input type="text" id="multiplayertext3" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
          高さ:<input type="number" id="player_height" class="player_form" placeholder="高さ" value="366" oninput="height2Slider(this.value)">
          <input type="range" id="player_heightslider" min="1" max="732" step="1" value="366" oninput="slider2Height(this.value)">
          幅:<input type="number" id="player_width" class="player_form" placeholder="横幅" value="650" oninput="width2Slider(this.value)">
          <input type="range" id="player_widthslider" min="1" max="1300" step="1" value="650" oninput="slider2Width(this.value)">

          <input type="submit" id="multiplayer_startbutton" class="button" value="再生">
        </form>
        <div class="form_box">
          <form action="#">
            <input type="submit" id="multiplayer_resetbutton" class="button" value="リセット">
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>