<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/waybackmachine.css">
  <script src="../static/js/share.js"></script>
  <script src="../static/js/waybackmachine.js"></script>
  <title>StreamTube</title>
  
</head>
<body>
  <header>
    <a href="/StreamTube/" class="icon">StreamTube</a>
    <div class="header_links">
      <a href="/StreamTube/templates/multiplayer.html" class="header_link">マルチ視聴</a>
      <a href="/StreamTube/templates/clipplayer.html" class="header_link">クリップ視聴</a>
      <a href="/StreamTube/templates/capture.html" class="header_link" target="_blank">キャプチャ機能</a>
      <a href="/StreamTube/templates/captures.html" class="header_link" target="_blank">連続キャプチャ機能</a>
      <a href="/StreamTube/templates/waybackmachine.html" class="header_link">Wayback検索</a>
      <a href="https://github.com/portfoliokns/StreamTube" class="header_link">About</a>
    </div>
  </header>

  <div class="main">
    <div class="maybackmachine_blocks">

      <form action="#">
        <input type="text" id="wayback_url" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
        <input type="submit" id="wayback_search_button" class="button" value="検索">
      </form>

      <iframe src="https://ja.wikipedia.org/wiki/%E3%82%A6%E3%82%A7%E3%82%A4%E3%83%90%E3%83%83%E3%82%AF%E3%83%9E%E3%82%B7%E3%83%B3" class="maybackmachine_wiki"></iframe>

    </div>
  </div>
  
</body>
</html>