<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/waybackmachine.css">
  <script src="../static/js/share.js"></script>
  <script src="../static/js/waybackmachine.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <title>StreamTube</title>
  
</head>
<body>
  <header>
    <a href="/StreamTube/" class="icon">StreamTube</a>
    <div class="header_links">
      <a href="/StreamTube/templates/multiplayer.html" class="header_link">マルチ視聴</a>
      <a href="/StreamTube/templates/clipplayer.html" class="header_link">クリップ視聴</a>
      <a href="/StreamTube/templates/capture.html" class="header_link" target="_blank">キャプチャ機能</a>
      <a href="/StreamTube/templates/captures.html" class="header_link" target="_blank">連続キャプチャ機能</a>
      <a href="https://github.com/portfoliokns/StreamTube" class="header_link">About</a>
    </div>
  </header>

  <div class="main">
    <div class="maybackmachine_blocks">

      <div class="player_title">
        Wayback Machine 検索
      </div>

      <form action="#">
        <input type="text" id="wayback_url" class="player_url" placeholder="YouTube動画のURLを貼り付けて" value="">
        <input type="submit" id="wayback_search_button" class="button" value="検索">
      </form>

    </div>
  </div>

  <footer>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">YouTube</a>
  </footer>
</body>
</html>